In [32]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import krakenex
from pykrakenapi import KrakenAPI
api = krakenex.API()
k = KrakenAPI(api)

In [29]:
from pathlib import Path
csvpath1 = Path("./full_moon.csv")

In [31]:
full_moon = pd.read_csv(csvpath1)
full_moon.tail()

            Day                Date          Time
1863   Thursday    1 September 2050   10:30:54 am
1864     Friday   30 September 2050   06:31:48 pm
1865     Sunday     30 October 2050   04:16:00 am
1866     Monday    28 November 2050   04:09:48 pm
1867  Wednesday    28 December 2050   06:15:36 am

In [38]:
ohlc = k.get_ohlc_data('BTCUSD', interval=1, ascending = True)
Price = ohlc[0]['Price'] = ohlc[0]['close'].rolling(1).mean()
ohlc[0].drop(['high', 'low', 'time', 'open', 'close', 'vwap', 'count'], axis = 1).tail(12)

                       volume    Price
dtime
2022-04-22 00:53:00  4.835523  40407.6
2022-04-22 00:54:00  0.198709  40426.0
2022-04-22 00:55:00  0.224891  40436.7
2022-04-22 00:56:00  0.592263  40436.7
2022-04-22 00:57:00  0.004978  40436.7
2022-04-22 00:58:00  0.167258  40436.7
2022-04-22 00:59:00  0.104328  40428.1
2022-04-22 01:00:00  0.078965  40413.7
2022-04-22 01:01:00  1.165986  40408.3
2022-04-22 01:02:00  3.271897  40402.4
2022-04-22 01:03:00  0.002948  40402.4
2022-04-22 01:04:00  0.000000  40402.4